.marketing-content {
    background-color: var(--pearl-white);
}

.marketing-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding: 17.7rem 0 19rem 15.1rem;
}

.marketing-image-wrapper {
    position: relative;
}

.marketing-image-wrapper img:first-child {
    max-width: 100%;
    border-radius: 1.5rem;
}

.marketing-image-wrapper img:last-child {
    position: absolute;
    bottom: -25%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.marketing-right {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 33.8rem 0 17.6rem;
}

.marketing-right h3 {
    color: var(--dark-navy);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.9rem;
    width: 70%;
}

.marketing-right p {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.6;
    margin-bottom: 4.6rem;
}

.marketing-right .explore-wrapper hr {
    width: 4rem;
    height: 0.4rem;
    background-color: var(--orange-red);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.4rem;
}

.marketing-right .explore-wrapper span {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}
