.working-process-content {
    padding: 15.2rem 16.5rem;
}

.working-process-content h2 {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.4rem;
    opacity: 0.7;
    margin-bottom: 11.3rem;
    text-transform: uppercase;
}

.steps-wrapper span:first-child {
    color: var(--regular-green);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.05rem;
    display: inline-block;
    width: calc(((36 * 100) / 1270) * 1%);
    margin-right: calc(((74 * 100) / 1270) * 1%);
    vertical-align: top;
}

.steps-wrapper h3 {
    color: var(--dark-navy);
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.6rem;
    letter-spacing: -0.1rem;
    display: inline-block;
    width: calc(((306 * 100) / 1270) * 1%);
    margin-right: calc(((90 * 100) / 1270) * 1%);
    vertical-align: top;
}

.steps-wrapper p {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.6;
    display: inline-block;
    width: calc(((416 * 100) / 1270) * 1%);
    margin-right: calc(((150 * 100) / 1270) * 1%);
}

.steps-wrapper .learn-more-wrapper {
    display: inline-block;
    width: calc(((179 * 100) / 1270) * 1%);
}

.steps-wrapper hr {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--orange-red);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.6rem;
}

.steps-wrapper span:last-child {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    display: inline-block;
}

.steps-wrapper:not(:last-child) {
    margin-bottom: 17rem;
}
