footer {
    margin-bottom: 6.3rem;
}

footer .container {
    padding: 0 6.1rem;
}

.footer-content {
    background-color: rgba(250, 226, 218, 0.5);
    border-radius: 3rem;
    padding: 13.5rem 9.2rem;
}

.footer-content-card {
    display: inline-block;
    width: calc((100% - 36rem) / 4);
}

.footer-content-card:not(:last-child) {
    margin-right: 12rem;
}

footer li {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.7;
    list-style-type: none;
}

footer li:not(:last-child) {
    margin-bottom: 2.2rem;
}

footer h4 {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    margin-bottom: 7.3rem;
}

footer h4:not(.logo-about h4) {
    text-transform: uppercase;
}

.logo-about h4 {
    color: var(--super-dark-navy);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02rem;
    margin-bottom: 7rem;
}

.logo-about span {
    font-size: 2.4rem;
    color: var(--orange);
}

.logo-about p {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.7;
    margin-bottom: 4.6rem;
}
